html
    head
    body
    form(method='post', name='ass', action='/create/assign')
        input(type='text', name='tmcode', value='e46gt')
        input(type='text', name='asname', value='얍')
        input(type='text', name='ascontent', value='야라라라랍')
        input(type='text', name='asdl', value=' ')
        input(type='checkbox', name='users[0]', value='a')
        input(type='checkbox', name='users[1]', value='aaa')
        input(type='submit', value='제출')
