html
    head
    body
    form(method='post', name='ass', action='/create/assign')
        input(type='text', name='tmcode', value='dX7aR')
        input(type='text', name='asname', value='얍')
        input(type='text', name='ascontent', value='야라라라랍')
        input(type='date', name='asdl', value=' ')
        input(type='checkbox', name='users[0]', value='932920472')
        input(type='checkbox', name='users[1]', value='934352955')
        input(type='submit', value='제출')
